blockquote
{
	background: #eceacf;
	padding-top: 1em;
}

.search-box {
        margin-top:1em;
        margin-bottom:1em;
}

.search_result {
}
table.search_results_table {
	border: 1px solid;
	margin-bottom: 2em;
}

tr.search_results_odd {
	background: #ffffff;
}
tr.search_results_even {
	background: #eeeeee;
}

table.search_results_table th {
	border: 1px solid;
	background: #000000;
	color: #ffffff;
	text-align: center;
}

table.search_results_table th.data {
	width: 7em;
}
table.search_results_table td.data {
	text-align: center;
}

table.search_results_table tr:hover {
	background: #dfdbab;
}
table.search_results_table tr:hover a {
	color: #000000;
}

table.search_results_table tr td a {
	color: #617600;
}

table.search_results_table tr td.preco , table.search_results_table tr td.idad {
	text-align: right;
	padding: 1em;
}

table.search_results_table tr.total {
	border: 1px solid;
	background: #000000;
	color: #ffffff;
	text-align: right;
}

.acima_do_limite {
/*
	font-weight: bold;
	color: #d95b07;
*/
}

.dentro_do_limite {
}

dl.estatisticas dt {
	font-weigth: bold;
}

.entrybody h2 {
	margin-top: 2em;
	text-decoration: underline;
}

td.montante {
	text-align: right;
}
